.hero {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.topBar, .hero h1, .hero p {
  max-width: 900px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #2B2929;
  color: #fff;
  border-radius: 1rem;
  font-size: 0.9rem;
  gap: 12rem;
  max-width: max-content;
  margin: auto;
  margin-top: 1rem;
}
.topBarMobile {
  display: none;
}
.topBar span {
  font-size: 1rem;
  font-weight: 800;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.hero h1 {
  font-size: 4rem;
  font-weight: 600;
}
.hero p {
  font-size: 2rem;
  font-weight: 400;
}
.cta {
  background: white;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  text-wrap: nowrap;
}
.badge {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: max-content;
  font-size: 0.75rem;
  background: transparent;
  border: 1px solid #E0E0E0;
  color: #333;
  padding: 0.4rem 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin: 2.5rem;
}
.getStarted {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: black;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  border: 2px solid #4D4D4D;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.getStarted:hover {
  background: #fefefe;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
.videoPreview {
  margin-top: 5rem;
}
.videoWrapper {
  background: #111;
  padding: 4.5625rem;
  border-radius: 24px;
  color: #fff;
  max-width: 100%;
  max-height: 40rem;
  padding-top: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoPreview img {
  border-radius: 12px;
  margin-bottom: -30rem;
}
.videoWrapper p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}
.caption {
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  background-color: #4D4D4D;
  color: #ccc;
  max-width: 100%;
  margin: 0 auto;
}
.offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 260px;
  background: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.offcanvas.show {
  right: 0;
}

.closeBtn {
  align-self: flex-end;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menuList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
  align-items: flex-start;
}
.menuList li {
  width: 100%;
}
.menuList li a {
  display: flex;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.menuList li a.active {
  font-weight: 700;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .videoWrapper {
    padding: 3rem 2rem;
    padding-top: 20rem;
  }

  .videoPreview img {
    margin-bottom: -25rem;
  }
}

@media (max-width: 768px) {
  .topBar {
    display: none;
  }
  .topBarMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 0.9rem;
    width: 100%;
  }
  .topBarMobile span{
    font-size: 1.25rem;
    font-weight: 600;
  }
  .topBarMobile .actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
  }
  .topBarMobile .cta {
    padding: 0.5rem 1rem;
    background-color: #2B2929;
    color: #fff;
  }
  .topBarMobile .actions img {
    width: 40px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero {
    padding: 0 2rem;
  }

  .hero h1 {
    font-size: 2.25rem;
  }

  .hero p {
    font-size: 1.25rem;
  }

  .badge {
    flex-direction: row;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 1.5rem auto;
  }

  .videoWrapper {
    padding: 2rem 1rem;
    padding-top: 18rem;
  }

  .videoPreview img {
    margin-bottom: -22rem;
  }

  .caption {
    font-size: 1rem;
    padding: 1rem;
  }

  .actions {
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .topBarMobile span{
    font-size: 1.25rem;
    font-weight: 600;
  }
  .topBarMobile .actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
  }
  .topBarMobile .cta {
    padding: 0.5rem 1rem;
    background-color: #2B2929;
    color: #fff;
  }
  .topBarMobile .actions img {
    width: 40px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero h1 {
    font-size: 1.75rem;
  }

  .hero p {
    font-size: .875rem;
    font-weight: normal;
  }
  .videoPreview {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .videoWrapper {
    padding: 1.5rem 0.5rem;
    padding-top: 7rem;
    width: 100%;
  }

  .videoPreview img {
    margin-bottom: -8rem;
    width: 20rem;
    z-index: 2;
  }

  .caption {
    font-size: 0.5rem;
    padding: .125rem 1rem;
  }
}
